#container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
#container .headerSec{
    display: flex;
}
#container .headerSec .createBoardIcon{
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    align-items: center;
}
#container .headerSec .createBoardIcon .addIcon{
    background-color:#000000;
    color: white;
    cursor: pointer;
}
#container .headerSec .heading{
    margin-top: 5%;
    display: flex;
    margin-left: 5%;
    color: white;
    font-weight: 900;
    
    width:fit-content;
    padding: 15px;
    border-radius: 30px;
    background-color: 	#8B4513;
}
#container .headerSec .heading .title #common_title{
margin-left: 10px;
}
#container .headerSec .heading  .title{
    display: flex;
    align-items: center;
   margin:10px 20px;
}

#container .showBoards{
    width: 100%;
}
#container .showBoards #boardArea{
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#addNewBoard{
    margin-top: 100px;
}
#add_NewBoard{
    width: 100%;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    background-color: green;
    margin-top: 10px;
}