
#boardArea > div {
    margin: 10px;
  }
.eachBoardDiv{
    cursor: pointer;
    border-radius: 20px;
    min-width:17%;
    color: black;
    padding: 0;

    margin: 0;
    display: flex;
    min-height:150px;
    justify-content: center;    
}
.card-body{
    padding: 0;
    margin: 0;
}
.deleteicon{
    color:black
}
.deleteDiv{
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-bottom: 0;
   
}
.linkClass{
    padding: 0;
    margin: 0;
    min-height:100px;
}
.boardTitle{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
h5{
    color: black;
}

/* checklist */

.checkLists{ 
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.checkLists  .eachChecklist{

}

.checkLists  .eachChecklist .checkTitle{
        margin-top: 10px;
    display: flex;
}
.checkLists  .eachChecklist .checkTitle .first_sec_icon{
    margin-right: 15px;
}
.checkLists  .eachChecklist .checkTitle  .checklist_details{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.checkLists  .eachChecklist .checkTitle  .checklist_details .checklist_title{
    align-self: flex-start;
}
.checkLists  .eachChecklist .checkTitle  .checklist_details .btn{

}

.checkLists  .eachChecklist .checkItems{

}

.checkLists  .eachChecklist .checkItems #showItems{
    margin-top: 20px;
}
.checkLists  .eachChecklist .checkItems #showItems #listItem{
    width: 100%;
    all:unset;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.checkLists  .eachChecklist .checkItems #showItems #listItem .inputLabel{
    display: flex;  
    margin-left: 25px;
    width: 100%;
    justify-content: space-around;   
}
.checkLists .eachChecklist .checkItems #showItems #listItem .inputLabel .form-check-input{

}

.checkLists .eachChecklist .checkItems #showItems #listItem .inputLabel #itemLabel{
    
}
.checkLists  .eachChecklist .checkItems #showItems #listItem .dltbtn{
    margin-top: -7px;
}

.checkLists  .eachChecklist .checkItems #showItems #listItem .dltbtn .btn .deleteIcon{

}