*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.board_details{
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 10px;
}
.board_details header{
    width: auto;
    padding:15px ;
    font-size: 20px;
    color: rgb(179, 174, 174);
    display: flex;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    justify-content: center;
    font-weight: 1000;
}
.board_details .boardView{
    width: 100%;
    height: 100%;
}
.board_details .boardView .headArea{
    display: flex;
    align-content: center;
    width: 100%;
    margin-left: 10px;
    border-radius: 20px;
}

.board_details .boardView .headArea .addAnotherList{

    margin-top: -10px; 
    display: flex;
    margin-right: 10px;
    align-items: center;
    width: 250px;
   
}
.board_details .boardView .headArea .addAnotherList .addList{
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: rgb(61,61,61);
}
.board_details .boardView .headArea .addAnotherList .addList:hover{
    background-color: rgb(100,100,100);
    color: white;
}
.board_details .boardView .headArea .BoardNameDiv{
    width: 80%;
    margin-bottom: 10px;
}
.board_details .boardView .headArea .BoardNameDiv .boardName{
    color:white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 800;
    font-size: 20px;
    outline: hidden;
    background-color: rgb(61,61,61);
    border: none;
    outline: black;
}


/* GROUP OF LIST */

.board_details .boardView {
    width: 100%;
}
.board_details .boardView .LIST_SECTION .card{
    margin: 10px;
    background-color:#ECECEC;
    width: 250px;
    height:100%;
}
.board_details .boardView .LIST_SECTION .card .formAddList .form-group{
    width: 100%;

}

.board_details .boardView .LIST_SECTION .card .formAddList .form-group #addListinput{
    width: 90% !important;
    margin: 10px;
    border: 1px solid #ccc;
}


.board_details .boardView .LIST_SECTION .card .formAddList .form-group #addListBtn{
    background-color: green;
    color: white;
    font-size: 12px;
    margin:0  0 5px 10px;
}
.list-group-item{
    display: flex;
    justify-content: space-between;
    border-radius: 10x;
    padding: 5px 10px;
    margin:5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #BEBEBE;
}

.board_details .boardView  #ListArea{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.LIST_SECTION{
    width: fit-content;
    display: flex;
    
}

.card{
    margin: 10px;
    background-color:#ECECEC;
    width: 250px;
    height:100%;
}
/* extra */

#AddListDiv{
    display: none;
}

#AddDesc{
    width: 100% !important;
    margin-bottom: 10px;
    border: 1px solid blue;

}

#addListinput{
    width: 90% !important;
    margin: 10px;
    border: 1px solid #ccc;
}

#addListBtn,#AddDescBtn{
    background-color: green;
    color: white;
    font-size: 12px;
    margin:0  0 5px 10px;
}
/* ----------------------------MODAL------------------------------ */

.description_secnd_div{
    width: 95%;
}
.description,.activity_title,.checklist_title{
    font-weight: 800;
    font-size: 17px;
}
.descriptionText{
    width: 100%;
    padding: 10px 10px 20px 10px;
    font-size: 14px;
    background-color: #ECECEC;
}
.header_details,.description_details,.activity,.comment{
    margin-top: 10px;
    display: flex;
}
.checkLists{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.checkTitle{
    margin-top: 10px;
    display: flex;
}
.activity.checkLists{
    margin-top: 50px;
}
.activity_details,.checklist_details{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.activity_title,.checklist_title{
    align-self: flex-start;
}
#Show_detailsBtn{
    background-color: #ECECEC;
    font-size: 14px;
    align-content: flex-end;
}
#deleteBtn{
    background-color: #ECECEC;
    font-size: 14px;
    align-content: flex-end;
}
#addBtn{
    width: fit-content;
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-top: 30px;
}
#addItemBtn{
    background-color: #ECECEC;
    border: none;
    padding: 8px;
    font-size: 14px;
}
.comment{
    margin-left: 5%;
    width: 95%;
}
.writeComment{
    border:1px solid rgb(216, 212, 212);
    font-size: 15px;
    padding: 7px 10px;
    width: 100%;
}
.actvity_secnd_sec{
    display: fl;
}
.card_name{
    font-weight: 900;
}
.inWhichList,.listName{
    font-size: 14px;
}
.listName{
    color: black;
    text-decoration: none;
    
}
.first_section{
    grid-area: first_section;
    display: flex;
    flex-direction: column;
}
.first_sec_icon{
    margin-right: 15px;
}

.second_section{
    grid-area: second_section;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.add_to_card_btn{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    background-color: #ECECEC;
    margin:3px;

}
#showItems{
    margin-top: 20px;
}

.listItem{
    width: 100%;
    all:unset;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.listItem .inputLabel{
    width: 70%;
}
#itemDelete{
    align-self: flex-start;
}
.addCheckItemForm{
    width: 100%;

}

.inputLabel{
 display: flex;  
 margin-left: 25px;
 width: 100%;
}

.checklist_title{
    margin-top: -3px;
}
#deleteBtn{
    margin-top: -10px;
}
.form-group{
    width: 100%;

}
#add_checklistItem{
    width: auto;
    /* margin-top: 30px; */
}
#addCheckItemForm{
    margin-top: 50px;
}
.update_checklItemBtn{

    color: white;
    font-size: 12px;
    background-color: green;
}



#deleteModalContent{
    background-color: white;
    padding: 0;
}
#deletemodalBody{
    padding: 0;
    margin: 0;
    width: 100%;
}
#deleteCheckListForm{
    margin: 0;
    padding: 0;
    width: 134%;
}
#deleteCheckListDiv{
    padding: 10px;
}
#deleteLabel{
    all: unset;
    width: 100%;
}
#delete_checklistBtn{
    width: 100%;
    background-color: rgb(190,0,0);
    color: white;
}

#dltBtn{
    /* background-color: aquamarine; */
    margin-top: -7px;
}