
.LIST_SECTION .card{
    margin: 10px;
    background-color:#ECECEC;
    width: 250px;
    height:100%;
}
.LIST_SECTION.card .card-body{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: space-between;
    align-content: center;

}
.LIST_SECTION .card .card-body .card-title{
    font-size:15px;
    border-bottom: none;
}
.LIST_SECTION .card .list-group{
  
}

.LIST_SECTION .card .list-group .list-group-item{
    display: flex;
    justify-content: space-between;
    border-radius: 10x;
    padding: 5px 10px;
    margin:5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #BEBEBE;

}
.LIST_SECTION .card .list-group .list-group-item .btnDiv{
    display: flex;
    display: none;
    
}
.LIST_SECTION .card .list-group .list-group-item:hover .btnDiv{
    display: flex;
    justify-content: space-between;
    
}
.LIST_SECTION .card .list-group .list-group-item .btnDiv .deleteButton{
    
    
}

.LIST_SECTION .card .list-group .list-group-item .btnDiv .deleteButton .deleteIcon{
    
    
}
.LIST_SECTION .card .list-group .list-group-item .btnDiv .editBtn{
    
    
}

.LIST_SECTION .card .list-group .list-group-item .btnDiv .deleteButton .editIcon{
    
    
}
.LIST_SECTION .card .card-footer{
    margin: 2px;    

}
.LIST_SECTION .card .card-footer .add-card{
    text-decoration: none;
    font-size: 15px;
    margin: 5px;
    font-weight: 400;
    color: gray;

}
